#proximos, #pasados{
    display: flex;
    justify-content: center;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
#proximos div, #pasados div{
    background-color: white;
    padding: 20px;
    padding-right: 150px;
    margin: 10px;
    flex-basis: 450px;
    cursor: pointer;
}
#proximos div h3, p, #pasados div h3, p{
    margin-bottom: 0;
}
#proximos div h3, #pasados div h3{
    color: #3F6AE2;
}
.fecha{
    color: #888888;
}
.detalleProximos, .detallePasados{
    display: none;
}
@media screen and (max-width: 576px){
    #proximos div, #pasados div{
        padding-right: 0;
    }
}